# Environments
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables
.env
.env.local
.env.*.local

# Project Specific
logs/
data/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db